@import '../../color.scss';

.wrapper {
  display: inline-block;
  cursor: pointer;
}

.hiddenCheckbox {
  display: none;
}

.circleCheckbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid $purple-dark;
  border-radius: 50%;
  position: relative;
  transition: background 0.2s;
}

.hiddenCheckbox:checked + .circleCheckbox {
  background-color: $purple-dark;
}

.hiddenCheckbox:checked + .circleCheckbox::after {
  content: '✔';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: white;
}
