@import '../color.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: white;
}
.num {
    display: flex;
    color: white;
    padding: 2px 8px;
    gap: 10px;
    border-radius: 999px;
    background: $gray-400;
}
.headerdav {
    display: flex;
    font-family: "Noto Sans Georgian";
    font-size: 14px;
    gap: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $blue 
}
.headerShes {
    display: flex;
    font-family: "Noto Sans Georgian";
    font-size: 14px;
    gap: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $purple;
}