@import '../color.scss';

.taskContainer {
    display: flex;
    width: 100%;
    padding: 16px;
    margin-bottom: 16px;
    gap: 12px;
    border-radius: 8px;
    border: 1px solid $gray-400;
    background: $gray-500;
    box-shadow: 0px 2px 8px 0px $gray-500;
}
.task {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.taskText {
    display: flex;
    align-items: center;
    gap: 8px;
}
.done {
    display: flex;
    text-decoration: line-through;
    color: $gray-300;
}