@import '../color.scss';

.inputText {
    display: flex;
    padding: 16px;
    width: 598px;
    align-items: center;
    border-radius: 16px;
    border: 1px solid ;
    background: $gray-500;
    border: 1px solid $gray-700;
}